<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
    {% assign sorted_projects = site.portfolio | sort: 'category' %}
    {% assign previous_category = nil %}
    {% for project in sorted_projects %}
      {% if project.category != previous_category %}
        {% if previous_category != nil %}
          </div>
          <div class="col-12">
            <hr class="my-5">
          </div>
          <div class="row">
        {% endif %}
        <div class="col-12 text-center mt-4 mb-4">
          <h4 class="text-uppercase">{{ project.category | slice: 1,project.category.size  }}</h4>
        </div>
        {% assign previous_category = project.category %}
      {% endif %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <!-- Subtract 1 from forloop.index to link to the previous project -->
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
          {% if project.award %}
            <div class="award-icon">
              <img src="assets/img/clients/star-medal.png" alt="Award">
            </div>
          {% endif %}
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          {% if project.caption.authors %}
            <p class="text-muted author-info">{{ project.caption.authors }}</p>
            <hr> <!-- 수평선 추가 -->
          {% endif %}
          <p class="text-muted">{{ project.caption.subtitle }}</p>
          <p class="text-muted prizes-info">{{ project.caption.prizes }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <!-- Similar structure for the non-localized version -->
  </div>
</section>
{% endif %}
{% include modals.html %}
