.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


/* 전체 포스트 제목 너비 제한 */
.post-header,
.post-title,
.post-header h1,
.page-title {
  max-width: 800px;
  margin: 0 auto;
}
