.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


.post-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-header h1 {
  max-width: 1000px;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}